#game {
    width : 100%;
    height : 100%;
	margin-top:0;
}

/* iphone 5 portrait */
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { 
	#game {
		left:0;
		margin-left:0;
		font-size: 40px;
	}
	
	.jewel-size {
	    font-size : 40px;
	}
}

/* ipad retina portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) { 
	#game {
		left:0;
		margin-left:0;
		font-size: 80px;
	}
	
	#game-screen .game-board {
        margin : 0.75em;
    }
	
	.jewel-size {
	    font-size : 80px;
	}
	
	#game-screen .game-info {
	    width : 75%;
		margin-left:12%;
		padding-top:0;
	}
	
	/* Main menu styles */
	#main-menu {
	    padding-top : 1.25em;
	}
}